#div1 {
  background-image: url("https://picsum.photos/id/237/200/300");
}

#div2 {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
}

#div3 {
  background-image: url("https://picsum.photos/200/300?grayscale");
}

#div4 {
  background-image: url("https://picsum.photos/200/300/");
}

#div5 {
  background-image: url("https://picsum.photos/200/300.jpg");
}

#div6 {
  background-image: url("https://picsum.photos/id/102/200/300");
}

.image {
  height: 300px;
  width: 200px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  user-select: none;
  border: 2px solid transparent;
  cursor: grab;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image.dragging {
  border: 3px dashed #00bfff;
  opacity: 0.6;
}
